<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>{{ page.title }}</title>

  <script defer src="/load_header.js"></script>
  <link rel="stylesheet" href="/style.css" />
</head>

<body>
  <div id="header-container"></div>

  <main class="page-wrap">
    {{ content }}
  </main>

  <footer class="site-footer">
    <p class="copyright">© Hannes Vandecasteele {{ "now" | date: "%Y" }}</p>
  </footer>
</body>
</html>