<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>

    <link rel="stylesheet" href="/style.css" />
    <script src="/load_header.js"></script>

    <!-- MathJax -->
    <script>
        window.MathJax = { tex: { inlineMath: [['$','$'], ['\\(','\\)']] } };
    </script>
    <script defer src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"></script>
</head>

<body>
    <div id="header-container"></div>

    <main class="post-wrap">
        <div class="post-meta">
        {{ page.date | date: "%b %-d, %Y" }}
        </div>

        <h1 class="post-title">{{ page.title }}</h1>

        <article class="post-content">
        {{ content }}
        </article>
    </main>

    <footer>
        <p class="copyright">© Hannes Vandecasteele {{ "now" | date: "%Y" }}</p>
    </footer>
</body>
</html>