<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>

    <script src="/load_header.js"></script>

    <!-- MathJax -->
    <script>
        window.MathJax = { tex: { inlineMath: [['$','$'], ['\\(','\\)']] } };
    </script>
    <script defer src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"></script>

    <link rel="stylesheet" href="/style.css">
</head>

<body>
  <main style="max-width: 900px; margin: 40px auto; padding: 0 16px;">
    <h1>{{ page.title }}</h1>
    <p><em>{{ page.date | date: "%B %d, %Y" }}</em></p>
    <hr />
    {{ content }}
  </main>

  <footer>
    <p class="copyright">©Hannes Vandecasteele 2024</p>
</footer>
</body>
</html>